if(platform == "electron")
  script.
    window.config = !{JSON.stringify(config)};
    window.$ = window.jQuery = require('jquery');
    window.io = io = require('socket.io-client');
script(src=depRoot + 'js/lib/kbpgp.js')
script(src=depRoot + 'js/lib/jquery-1.11.1.js')
script(src=depRoot + 'js/lib/semantic.js')
script(src=depRoot + 'js/lib/highlight.min.js')
script(src=depRoot + 'js/lib/moment.min.js')
script(src=depRoot + 'js/lib/livestamp.min.js')
script(src=depRoot + 'js/lib/marked.js')
script(src=depRoot + 'js/lib/FileSaver.js')
script(src=depRoot + 'js/lib/blob.js')
script(src=depRoot + 'js/lib/jquery.pulse.js')
script(src=depRoot + 'js/lib/socket.io-stream.js')
script(src=depRoot + 'bower_components/querystring/querystring.js')
script(src=depRoot + 'bower_components/http/http.js')
script(src=depRoot + 'bower_components/https/https.js')
script(src=depRoot + 'bower_components/base64/base64.js')
script(src=depRoot + 'bower_components/async/lib/async.js')
script(src=depRoot + 'bower_components/buffer/buffer.js')
script(src=depRoot + 'bower_components/binaryjs/dist/binary.js')
script(src=depRoot + 'bower_components/SparkMD5/spark-md5.js')
// Load Modals (Browserify these)
//script(src=depRoot + '/bundles/modalBundle.js')
script(src=depRoot + 'js/modals/registerUserPrompt.js')
script(src=depRoot + 'js/modals/unlockClientKeyPairModal.js')
script(src=depRoot + 'js/modals/createRoomModal.js')
script(src=depRoot + 'js/modals/editRoomModal.js')
script(src=depRoot + 'js/modals/sendFileModal.js')
// Load Helpers (Browserify these)
script(src=depRoot + 'js/userlist.js')
script(src=depRoot + 'js/clientNotification.js')
script(src=depRoot + 'js/MasterUserlist.js')
script(src=depRoot + 'js/chatHeader.js')
script(src=depRoot + 'js/authentication.js')
script(src=depRoot + 'js/serverCommand.js')
// Browserify bundle
script(src=depRoot + '/js/bundle.js')
// Load main scripts (Browserify these)
script(src=depRoot + 'js/chatManager.js')
script(src=depRoot + 'js/managerBundle.js')
//script(src=depRoot + 'js/encryptionManager.js')
//script(src=depRoot + 'js/socketClient.js')
//script(src=depRoot + 'js/binSocketClient.js')
//script(src=depRoot + 'js/fileManager.js')
script.
  hljs.initHighlightingOnLoad();
